# Ambientes locais
.venv/
.venv*/

# Artefatos grandes
# Agora são rastreados via Git LFS (.gitattributes)

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# SO
.DS_Store
Thumbs.db
